
.top_half {
  margin-top: 3.25em;
  margin-bottom: 1.5625em;
}

.Main_scrollit {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1em;
  overflow: auto;
  height: 60%;
  width: 100%;
  background: white;
}

.Dyn_container {
  height: 50%;
  width: 100%;
}

th {
  border: 0.08em solid black;
  font-size:2em;
  line-height: 1.3em;
}

td{
  font-size:1.2em;
}

.Search {
  width: 100%;
  line-height: 2em;
  font-size: 1.2em;
}

table {
  width: 100%;
}

.col-sm-12 {
  position: relative;
  height: 60%;
  width: 30%;
  margin: 0 auto;
  border-collapse: collapse;
}

.Dyn_table {
  border-color: white;
}

.btn-secondary {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0em 1.875em;
  display: inline-block;
  margin: 0.625em 0.9375em;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.09375em;
  font-size: 1em;
  outline: none;
  border: 0.1875em solid #cfcece;
  background-color: #ffffff;
  border-radius: 0.9375em 0.9375em 0.9375em 0.9375em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.highestSecuritySubmit {
  width: 100%;
  padding: 0em 0em;
  display: inline-block;
  line-height: 2em;
  margin-top: 1.25em;
}

.Dyn_table_Row {

}

