.App_End {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  padding: 0em 1.875em;
}

.MainPage {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  padding: 1.3em 1.2em;
  display: inline-block;
  line-height: 2em;
  letter-spacing: 0.09375em;
  outline: none;
}

.section-heading {
  font-size: 1.5em;
}

.containerMain {
  width: 65vh;
  min-width: 80%;
  height: 100%;
  overflow: hidden;
  padding: 0.5em 1.875em;
  background: #C0C0C0;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  opacity: 0.90;
  display: inline-block;
  margin: 0.625em 0.9375em;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.09375em;
  font-size: 0.75em;
  outline: none;
  border: 0.1875em solid #cfcece;
  border-radius: 0.9375em 0.9375em 0.9375em 0.9375em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #e5e5e5;
}

.SideBar {
  position: relative;
  left: -37%;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0em 1.875em;
  display: inline-block;
  margin: 0.625em 0.9375em;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.09375em;
  font-size: 1em;
  border: 0.1875em solid #cfcece;
  background-color: #ffffff;
  border-radius: 0.9375em 0.9375em 0.9375em 0.9375em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.DropItem1,
.DropItem2,
.DropItem3 {
  position: relative;
  left: -37%;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0em 1.875em;
  display: inline-block;
  margin: 0.625em 0.9375em;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.09375em;
  font-size: 0.75em;
  outline: none;
  border: 0.1875em solid #cfcece;
  background-color: #ffffff;
  border-radius: 0.9375em 0.9375em 0.9375em 0.9375em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Dashboard {
  width: 16em;
  margin-left: 5em;
  z-index: 0;
  -webkit-box-direction: unset;
}

.FileNameTotal {
  margin-top: 5%;
  width: 100%;
}

.FileNameLeft {
  margin-top: 3%;
  width: 70%;
  position: relative;
  bottom: -2.2em;
}

.FileNameRight {
  width: 80%;
  float: right;
}

.Title {
  margin-top: 0em;
  left: -20%;
}

.close {
  margin: 0px;
  position: relative;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0em 1.875em;
  display: inline-block;
  margin: 0.625em 0.9375em;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.09375em;
  font-size: 1em;
  outline: none;
  position: relative;
  border: 0.1875em solid #cfcece;
  background-color: #ffffff;
  border-radius: 0.9375em 0.9375em 0.9375em 0.9375em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.FinalPop {
  width: 100%;
  height: 100%;
}

.FinalPopDiv {
  margin-top: 36%;
  position: center;
  text-align: center;
}

.button:hover,
.button.hover {
  border-color: #2980b9;
}

/*
card
*/
.card {
  font-size: 0.75em;
}

.card > .header {
  width: 100%;
  border-bottom: 0.0625em solid gray;
  font-size: 0.875em;
  text-align: center;
}

.modal {
  font-size: 0.75em;
  left: 5%;
  background: white;
}

.modal > .header {
  width: 100%;
  border-bottom: 0.0625em solid gray;
  font-size: 1.125em;
  text-align: center;
  padding: 0.3125em;
  right: 20%;
}

.modal > .content {
  width: 100%;
  padding: 0.625em 0.3125em;
  text-align: center;
  right: 20%;
  font-size: 1.5em;
}

.modal > .actions {
  margin: auto;
}

.modal > .actions {
  width: 100%;
  padding: 0.625em 0.3125em;
  text-align: center;
  right: 10em;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 0.125em 0.3125em;
  line-height: 1.25em;
  right: -0.625em;
  top: -0.625em;
  font-size: 1.5em;
  background: #ffffff;
  border-radius: 1.125em;
  border: 0.0625em solid #cfcece;
}

.example-warper-start {
  width: 100%;
  padding: 1.25em 5%;
  display: flex;
  flex-wrap: wrap;
  border: 0.0625em #cfcece dashed;
}

.menu {
  width: 12.5em;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.menu-item {
  cursor: pointer;
  padding: 0.3125em;
  height: 1.75em;
  border-top: 0.0625em solid rgb(187, 187, 187);
}

.menu-item:hover {
  color: #2980b9;
}

.backdrop {
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  background: lightgrey;
  padding: 3.125em;
}

/*.modal {
  background: white;
  position: relative;
  text-align: center;
  width: 30em;
  left: 5%;
  margin-left: 15em;
}*/

.Selections {
  margin: 0em;
}

#explain {
}

.info {
  display: inline-block;
  position: absolute;
}

.keyContent{
  width: 20%;

  height: 15%;
  background-color: white;
  text-align: center;
  font-family: Roboto sans-serif;

  top: 50%;
  right: 50%;
  transform: translate(180%, 120%) ;
}

.text{
  padding: 1.5em;
  font-size: 1em;
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}

.keyBlock {
  display: inline-block;
  position: relative;
  margin: 0;
  float: right;
}

.top_half{
  display: inline-block;
  float: left;
}

.button{
  margin-top: 3.25em;
  margin-bottom: 1.5725em;
}
